/* @import url('https://fonts.googleapis.com/css2?family=Roboto&family=Work+Sans&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Inter&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Bitter&family=Work+Sans:wght@700&display=swap');
:root {
    --charcoal: #264653ff;
    --persian-green: #2a9d8fff;
    --orange-yellow-crayola: #e9c46aff;
    --sandy-brown: #f4a261ff;
    --burnt-sienna: #e76f51ff;
}

* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

html,
body,
h1,
h2,
h3,
p {
    margin: 0;
}

main {
    /* max-width: 800px;
    margin: 0 auto; */
}

h2,
h3,
h4 {
    /* color: black; */
    font-family: 'Work Sans', sans-serif;
    /* font-weight: 900; */
    line-height: 1;
    margin-bottom: 1em;
    color: #001f3f;
}


p {
    margin-bottom: 1em;
}

.centred-text {
    text-align: center;
}

/* #intro,
#stats,
#cities {
    padding: 0 1em;
} */

.container {
    /* width: 100%; */
    margin: 0 auto;
    max-width: 65rem;
    padding: 1rem 1rem;
}

section {
    padding: 4rem 1rem;
}

.background-light {

    background: #F4E3B8;
}

.background-accent {

    background: #e76f51ff;
}

body {
    font-family: Bitter, sans-serif;
    font-weight: 400;
   font-size: 1.3rem;
color: #001f3f;
    line-height: 1.5rem; 

}

/*navigation menu styling */

header {
    width: 100%;
    background-color: #264653ff;
}

nav {
    float: right;
    background-color: #264653ff;
    clear: both;
    width: 100%;
    height: auto;
    color: white;
}

#menu {
    font-size: 1.2rem;
    letter-spacing: 4px;
    background-color: #264653ff;
    line-height: 3.5rem;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
    transition: 0.2s;
}

#menu a:hover {
    color: #e9c46aff;
}

.active {
    border-bottom: 1px solid #e9c46aff;
}

/*hero image*/
#hero-image {
    height: 30vh;
    width: 100%;
    overflow: hidden;
    background-image: url(../images/hero5.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    position: relative;
    text-align: center;
    /* margin-bottom: 3rem; */
}

#image-outer {
    position: relative;
}


#image-text h1,
#image-text a {
    color: #e9c46aff;
    text-decoration: none;
    background-color: #264653ff;
    font-size: clamp(2rem, 6vw + 1rem, 9rem);
    /* font-size: 200%; */
    font-family: 'Work Sans', sans-serif;
    text-transform: lowercase;
    letter-spacing: 4px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 6rem;
    ;
}


#image-text {
    /* font-size: clamp(0.1rem, 2vw + 1rem, 8rem); */
    /* font-size: clamp(4rem, 6vw + 1rem, 9rem); */

}

/* #intro{
    max-width: 60rem;
    margin: 0 auto;
    padding: 0 1em;;
    line-height: 2rem;
    padding-bottom: 60px;
} */

#intro h1,
#stats h1 {
    text-align: center;
    padding-bottom: 30px;
}

/* p {
    text-align: center;
    margin-bottom: 30px;
} */

#stats {}

#stats ul{
    margin-top: 4rem;
}

#stats li {
    font-size: 2rem;
    list-style-type: none;
    margin-bottom: 2rem;;
    color: rgb(51, 51, 51);
    line-height: 1.5;
    /* margin: 1rem; */
}





/*gallery of products on resource page*/

.itemlist {
    column-count: 2;
    column-gap: 20px;
    max-width: 1000px;
    margin: 0 auto;
}

/* styling of button to purchase product */
#gallery a {
    background-color: #f4a261ff;
    color: white;
    padding: 1em 1.5em;
    margin-top: 20px;
    margin-bottom: 20px;
    text-decoration: none;
    font-family: 'Work Sans', sans-serif;
    text-transform: uppercase;
}

#gallery a:hover {
    background-color: #e76f51ff;
}

#gallery img {
    width: 100%;
    border-radius: 0.5 rem;
}

/* style product display card */
.item {
    padding: 1.2rem;
    background: white;
    margin-bottom: 1.2rem;
    border-radius: 0.5rem;
    display: inline-block;
}

/* extra padding for legibilty */
.item h3 {
    padding: 1rem 0;
}


/*Newsletter sign up page*/

/* main image */
.newsletter-signup {
    clear: left;
    background: url("../images/hero1.jpg");
    background-size: cover;
    background-position: center;
    height: 1000px;
}

/* form styling */
.newsletter-form {
    margin: 150px 10% 0 0;
    background-color: rgba(233, 196, 106, 0.9);
    max-width: 400px;
    position: absolute;
    top: 10%;
    left: 30%;
    padding: 30px;
}

.form-text {
    background: transparent;
    width: 100%;
    height: 1.7rem;
    margin: 0.3rem 0 1.4rem 0;
    border: 1px solid white;
    border-radius: 0.4rem;
}

label {
    font-family: Inter, sans-serif;
}

.form-text:hover {
    border-color: #e76f51ff;
}

.join-now-button {
    font-family: 'Work Sans', sans-serif;
    margin-top: 1.5rem;
    font-size: 1.5rem;
    border-radius: 0.5rem;
    padding: 1rem 1.5rem;
    background-color: #e76f51ff;
    color: #fafafa;
    display: block;
    width: 100%;
}

.join-now-button:hover {
    background-color: #fafafa;
    color: #f16c6b;
}

/*City display cards*/

#cities {
    display: flex;
    flex-direction: column;
    position: relative;
}


.city {

   
}

.cityimage {
    height: 400px;
    /* display: flex; */
    /* align-items: flex-end; */
    width: 60%;
    float: left;
    position: relative;

    margin-bottom:20px;
}

.cityinfo {
    background-color: #264653ff;
    font-family: 'Work Sans', sans-serif;
    height: 400px;
    float: right;
    margin-bottom:20px;
    width: 40%;
}

.citydetail i{
    margin-right: 1rem;;
}

.citylink{
    background-color: #f4a261ff;
    color: white;
    padding: 0.5em 1em;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    text-decoration: none;
    font-family: 'Work Sans', sans-serif;
    text-transform: uppercase;
    width:100%;
    display: block;
}

.citydetail {
    color: white;
}

.citylink>a {
    color: white;
    
}

.citylink:hover{
   
    background-color: #e76f51ff;
}

.cityinfo h3 {
    text-transform: uppercase;
   margin-top: 2rem;
   margin-bottom: 3.5rem;
    color: white;
}

.cityimage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}



.cityoverlay {
    /* font-size: 800%; */
    font-size: clamp(3rem, 4vw + 1rem, 8rem);
    text-transform: uppercase;
    color: white;
    /* position:absolute; */
    font-family: 'Work Sans';
    line-height: 4.5rem;
    margin: 0;
    background-color: rgba(0, 0, 0, .5);
    padding: 0;
    position: absolute;
    bottom: 10px;
    left: 10px;
}


/* footer */

footer {
    background: #264653ff;
}

.social-links {
    text-align: center;
}

.social-links>li {
    display: inline;
}

.social-links i {
    font-size: 3rem;
    /* margin: 0 1.5%; */
    padding: 2%;
    color: white;
    transition: 0.3s;
}

.social-links i:hover {
    color: #e9c46aff;
}

/* responsive 404 page  */

.errorpage{
    background: grey;
    height: 100vh;
    width: 100wh;
}
.errorpageicon{
    margin: 4rem;
    font-size: clamp(10rem, 20vw + 4rem, 20rem);
    color:white;
}

.errorpage h1{
   margin: 1rem;
    color:white;
    font-size: clamp(2rem, 7vw + 1rem, 10rem);
}


/* media queries */



@media (max-width: 800px) {

    #cities {
        width: 100%;
    }


    .city {

       
    }

    .cityoverlay {}


    .cityinfo {

        height: auto;
        width: 100%;
margin-bottom: 30px;
    }

    .cityimage {

        height: 300px;
        width: 100%;
        margin-bottom:0;

    }

    .cityinfo h3 {
        text-transform: uppercase;
       margin-top: 1rem;
       margin-bottom: 1.5rem;
        color: white;
    }

    /* make gallery single comumn on small screens */
   .itemlist {
        column-count: 1;
    }

    #stats li {
        font-size: 1.5rem;
       
    }

    section{
        padding: 1.5rem 0;
    }
}