
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Rubik&display=swap');

*{
    margin: 0;
    padding: 0;
    border: none;
}

body{
    font-family: Merriweather, sans-serif;
    font-weight: 300;
    color: #3a3a3a;
}

 navigation and logo styling 
h1, h2{
 font-family: Rubik, sans-serif;
 text-transform: lowercase;
 letter-spacing: 4px;
 color: #252525;
}
/*
header h1{
    padding: 80px;
    text-align: center;
    letter-spacing: 4px;
    font-size: 50px;
    color: #fff;
    clear:right;
}
*/
/*#logo{
    float: left;
    font-size: 280%;

}*/
/*
nav {
    margin: 25px auto 0;
   position: relative;
   width: 500px;
   height: 50px;
   border-radius: 10px;
  background-color: #333;
  font-size: 0;
}
*/
header{
    background-color: red;;
}
nav{
    float: right;
    background-color: red;
    clear:both;
}
#menu{
    font-size: 110%;
    letter-spacing: 4px;
    background-color: red;
    line-height: 60px;
}

/*#menu, #logo {
    line-height: 75px;
}
*/
#menu li{
    
    float: left;
    list-style-type: none;
    margin-right: 30px;

}

#menu a{
    text-decoration: none;
    color: inherit;
}



#menu a:hover{
    
    color: white;
}

.active{
    border-bottom: 1px solid #3a3a3a;
}

/*hero image*/
#hero-image{
    height: 300px;
    width: 100%;
    /*background: url(../images/hero5.jpg) no-repeat center center;*/
   overflow: hidden;
    background-image: url(../images/hero2.jpg);
    background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  position: relative;
  text-align: center;
}

#image-text, #image-text h2{
    color: #fff;

}

#image-outer{
    position: relative;
}

#image-text, #image-text h1{
    color: grey;

}

#image-text{
    font-size: 450%;
    font-family: Rubik, sans-serif;
    text-transform: lowercase;
    letter-spacing: 4px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);


}

#intro{
    width: 50%;
    margin: 0 auto;
    padding: 30px 30px 30px 30px;
}

h1, h2{
    text-align: center;
}

p{
    padding: 30px 30px 30px 30px;
    text-align: center;
}

/* footer */

footer {
    padding: 20px; 
  
  background: navy; 
}

.social-links{
    text-align: center;
}

.social-links > li{
    display: inline;

}

.social-links i, a{
    font-size: 100%;
    margin: 1%;
    padding: 2px;
    color: #3a3a3a;
}